#projects{
  width: 100%;
  min-height: 600px;
  background: -webkit-linear-gradient( #ff0505, #800000);
  color: #ffffff;
  margin: 0 auto;
  text-align: center;
  padding: 10px 10px; overflow:auto
}

#proj-head{
  padding: 0;
  margin-bottom: 1%;
}

#grid{
  margin-top: 3%;
}
