#projects{
  width: 100%;
  height: 25%;
  background: -webkit-linear-gradient( #ff0505, #800000);
  color: #ffffff;
  margin: 0 auto;
  text-align: center;
}

#proj-head{
  padding: 0;
  margin-bottom: 1%;
}

#grid{
  margin-top: 3%;
}
