#about{
  width: 100%;
  min-height: 500px;
  background: -webkit-linear-gradient( #245998, #001433);
  color: #ffffff;
  margin-bottom: 0;
  text-align: center;
  padding: 10px 10px; overflow:auto;
}

#blurb{
  font-size: 1.5em;
  margin: 0 auto;
  margin-top: 3%;
  width: 85%;

}

h2{
  text-align: center;
  margin: 0 auto;
}

#icon-section{
  margin-right: 40px;
}
